*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{

    background-color: red;
    margin: auto;
    border-color: #f6f8f9;
    width: 70%;
    height: auto;
    
}

.logo{
    display: inline-block;
    width: 70px;
    vertical-align: middle;
    margin-left: 35px;
    margin-top: 15px;
    }

.logo-text{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn{
    border: 1px solid #47adf1;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #47adf1;;
    

}

.btn-white{
    border: 1px solid #dee1e4;
    padding: 7px 15px;
    border-radius: 10px;
    color: #cdd2d6;
}

.tasks{
    margin-left: 300px;
    margin-top: 30px;
    list-style-type: none;
    padding: 7px 15px;
}